body {
	background-color: #4D4D4D;
	margin: 0px;
}
.text-header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #600303;
	font-size: 16px;
}
.text-red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #600303;
}
.text-right-green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #175A09;
	font-size: 11px;
}
.border-pic {
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.border-main {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}


.text-table {
	font-size: 11px;
	color: #4D4D4D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.text-footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
#topd {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFE9B;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}          
#topd a:Link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFE9B;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#topd a:Visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFE9B;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#topd a:Hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#topd a:Active {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#top {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}          
#top a:Link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#top a:Visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#top a:Hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFE9B;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
#top a:Active {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
a:Link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #0066CC;
	text-decoration: none;
}
a:Visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #0066CC;
	text-decoration: none;
}
a:Hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #0066CC;
	text-decoration: underline;
}
a:Active {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #CC0000;
	text-decoration: none;
}