@CHARSET "UTF-8";

#mytable{
	padding-top: 15px; 
	padding-left:6px;
	padding-right: 6px;
	font-size: 11px; 

}
#mytable span{
	padding-bottom: 10px;
	font-size: 15px; 
	font-weight: bold;
	color:#626262;
}
#mytable b{
	font-size: 12px; 
	
}
.heading{
	font-size: 15px;
	font-weight: bold;
	color: black;
	background-color: red;
}
#mytable td{
	vertical-align: middle;
	text-align: center;
	
} 
#mytable th{
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #f3e702;
	background-color: #701111;
} 
